<button class="btn btn-primary editable-table-button btn-xs" data-toggle="modal" ng-click="open('lg',1,null)">Add</button>

<div class="add-row-editable-table">
</div>
<div class="" ng-show="loading == true" style="text-align:center;padding-top:40px;padding-bottom:40px">
  <img style="height:20%; width:20%" src="../../trootorials-v1/assets/img/app/profile/loading.gif" alt="">

</div>
<table ng-show="loading == false" class="table table-bordered table-hover table-condensed">
  <tr>
    <td>UserId</td>
    <td>Name</td>
    <td>Mobile</td>
    <td>Email</td>
    <!-- <td>Password</td> -->
    <td>Image URL</td>

    <td>Level</td>
    <td align="center">Premium</td>
    <td>Action</td>
  </tr>
  <tr ng-repeat="user in users track by $index" class="editable-row">
    <td>
      {{user.id}}
    </td>
    <td>
      <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ user.name || 'empty' }}
        </span>
    </td>

    <td>
      <span editable-text="user.mobile" e-name="name" e-form="rowform">
          {{ user.mobile }}
        </span>
    </td>

    <td>
      <span editable-text="user.email" e-name="name" e-form="rowform">
          {{ user.email }}
        </span>
    </td>

    <!-- <td>
      <span editable-text="user.password" e-name="name" e-form="rowform">
          {{ user.password }}
        </span>
    </td> -->
    <td>
      <span editable-text="user.imageUrl" e-name="name" e-form="rowform" e-required>
          {{ user.imageUrl || 'empty' }}
      </span>
    </td>

    <td>
      <span editable-text="user.level" e-name="name" e-form="rowform">
          {{ user.level }}
        </span>
    </td>

    <td>

      <div class="checkbox" style="text-align:Center;">
        <label><input type="checkbox" value=""></label>
      </div>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="open('lg',0,user.id)" data-toggle="modal">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser(user.id, $index)">Delete</button>
      </div>
    </td>
  </tr>
</table>
