<!doctype html>

<html>

  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <!-- <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.6.0/angular-local-storage.js"></script>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="app/css/404.css"> -->

  </head>

  <body>

  <div ng-app="LocalLogin" ng-controller="LoginCtrl">

    <center><h3> Troofal Admin Login </h3> </center>

      <form ng-submit="login()">
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
            <div class="form-group">

              <input required type="email" class="form-control" ng-model="uemail" placeholder="Enter email">

            </div>

            <div class="form-group">
              <input required type="password" class="form-control" ng-model="upasswd" placeholder="Enter password">
            </div>

            <div class="form-group">
                <div class="error" style="color:red" ng-model="error">{{error}}</div>
            </div>

                <center><button type="submit" class="btn btn-success">LOGIN</button></center>
            </form>
          </div>

          </div>
          <div class="col-md-2">

          </div>
        </div>

    </div>

    <script src="index.js"></script>

  </body>

</html>
