<button class="btn btn-primary editable-table-button btn-xs" data-toggle="modal" ng-click="open('lg',1,null)">Add</button>

<div class="add-row-editable-table">
</div>
<div class="" ng-show="loading == true" style="text-align:center;padding-top:40px;padding-bottom:40px">
  <img style="height:20%; width:20%" src="../../trootorials-v1/assets/img/app/profile/loading.gif" alt="">
</div>

<table ng-show="loading == false" class="table table-bordered table-hover table-condensed">
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>Description</td>
    <td>Duration</td>
    <td>Level</td>
    <td>Image URL</td>
    <td>Actions</td>
  </tr>

  <tr ng-repeat="course in courses track by $index" class="editable-row">
    <td>
      {{course.id}}
    </td>
    <td>
      <span editable-text="course.title" e-name="name" e-form="rowform" e-required>
          {{ course.title || 'empty' }}
      </span>
    </td>

    <td>
      <span editable-text="course.description" e-name="name" e-form="rowform" e-required>
          {{ course.description || 'empty' }}
      </span>
    </td>

    <td>
      <span editable-text="course.duration" e-name="name" e-form="rowform" e-required>
          {{ course.duration || 'empty' }}
      </span>
    </td>

    <td>
      <span editable-text="course.level" e-name="name" e-form="rowform" e-required>
          {{ course.level || 'empty' }}
      </span>
    </td>

    <td>
      <span editable-text="course.imageUrl" e-name="name" e-form="rowform" e-required>
          {{ course.imageUrl || 'empty' }}
      </span>
    </td>

    <td>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="open('lg',0,course.id)" data-toggle="modal">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeCourse(course.id , $index)">Delete</button>
      </div>
    </td>
  </tr>
</table>
