<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="redirect()">Create</button>
  <!-- <div class="" style="width:30%; margin-top:10px; margin-bottom:50px;">
    <input placeholder="Search by Course" class=" form-control col-md-4"
               type="text"/>
  </div> -->
</div>
<div class="" ng-show="loading == true" style="text-align:center;padding-top:40px;padding-bottom:40px">
  <img style="height:20%; width:20%" src="../../trootorials-v1/assets/img/app/profile/loading.gif" alt="">

</div>
<table ng-show="loading == false" class="table table-bordered table-hover table-condensed">
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>Description</td>
    <td>Author</td>
    <td>Duration</td>
    <td>File</td>
    <td>Image Url</td>
    <td>isPublic</td>
    <td>action</td>

  </tr>
  <tr ng-repeat="user in users" class="editable-row">
    <td>
      {{user.id}}
    </td>

    <td>
      {{user.title}}
    </td>
    <!-- <td>
        <img src ="{{ user.des }}" width:"50px" height="50px">
    </td> -->
    <td>
      <span editable-text="user.description" e-name="name" e-form="rowform" e-required>
          {{ user.description || 'empty' }}
        </span>
    </td>
    <td>
      <span editable-text="user.author" e-name="name" e-form="rowform" e-required>
          {{ user.author || 'empty' }}
        </span>
    </td>
    <td>
      <span editable-text="user.duration" e-name="name" e-form="rowform" e-required>
          {{ user.duration || 'empty' }}
        </span>
    </td>
    <td>
      <span editable-text="user.file" e-name="name" e-form="rowform" e-required>
          <a href="uploads/{{ user.file || 'empty' }}">{{ user.file || 'empty' }}</a>

        </span>
    </td>
    <td>
      <span editable-text="user.duration" e-name="name" e-form="rowform" e-required style="margin-left:20px">
           <a href="videoUploads/{{ user.imageUrl || 'empty' }}"><img src="videoUploads/{{ user.imageUrl || 'empty' }}" alt="" width="220px" height="100px"></a>
        </span>
    </td>
    <td>
      <span editable-text="user.ispublic" e-name="name" e-form="rowform" e-required>
          {{ user.ispublic || 'false' }}
        </span>
    </td>
    <td>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="open($event ,user.id, 'app/pages/videos/addVideos/add3.html','lg',1)">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeVideo(user.id, $index)">Delete</button>
      </div>
    </td>
  </tr>
</table>
