<div class="add-row-editable-table">
  <button class="btn btn-primary"  data-toggle="modal" ng-click="open('app/pages/courses/addCourses/add.html', 'lg')">Add Courses</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>Description</td>
    <td>Duration</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="user in users" class="editable-row">
    <td ng-model="form.id">
        {{user.id}}
    </td>
    <td ng-model="form.title">
        <span editable-text="user.title" e-name="name" e-form="rowform" e-required>
          {{ user.title || 'empty' }}
        </span>
    </td>
    <!-- <td class="select-td">
        <span editable-select="user.status" e-name="status" e-form="rowform" e-selectpicker
              e-ng-options="s.value as s.text for s in statuses">
          {{ showStatus(user) }}
        </span>
    </td> -->

    <td ng-model="form.description">
        <span editable-text="user.description" e-name="name" e-form="rowform" e-required>
          {{ user.description || 'empty' }}
        </span>
    </td>

    <td ng-model="form.duration">
        <span editable-text="user.duration" e-name="name" e-form="rowform" e-required>
          {{ user.duration || 'empty' }}
        </span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == user">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="updateCourse(user.id,user.title,user.description,user.duration)" >
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeCourse(user.id)">Delete</button>
      </div>
    </td>
  </tr>
</table>
