<div class="panel panel-default">
  <div class="panel-heading">Add Videos</div>
  <div class="panel-body">
    <div style="margin:10px;">
      <form name="addVideos" class="" method="post">
        <div class="alert alert-success" ng-show="success" style="background-color:black;">
          <strong>successfully updated!!</strong> Redirecting to all videos page.
        </div>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="form.title" required name="title" placeholder="Enter Title" required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="form.description" required name="description" rows="5" id="comment" placeholder="Enter Description" required></textarea>
        </div>
        <div class="form-group">
          <label>Author</label>
          <input type="text" class="form-control" required ng-model="form.author" name="author" id="exampleInputPassword1" placeholder="Enter Author Name" required>
        </div>

        <div class="form-group">
          <label>Course name</label>
          <!-- <input type="text" class="form-control" required ng-model="form.course" name="course" id="exampleInputPassword1" placeholder="Enter course id"> -->
          <select ng-model="form.course" class="form-control" ng-options="x.id as x.title for x in names"></select>
        </div>

        <div class="form-group">
          <label>duration</label>
          <input type="text" class="form-control" required ng-model="form.duration" name="duration" id="exampleInputPassword1" placeholder="Enter Duration" required>
        </div>
        <!-- <div class="form-group">
          <label>ispublic</label>
          <input type="text" class="form-control" required ng-model="form.public" name="public" id="exampleInputPassword1" placeholder="Enter Author Name">
        </div> -->
        <div class="form-group">
          <label for="sel1">ispublic:</label>
          <select class="form-control" ng-model="form.public">
            <option  ng-selected="u==false" value="0">0</option>
            <option  ng-selected="u==true" value="1">1</option>
          </select>
        </div>

        <div class="form-group">
          <label >Thumbnail</label>
          <input
              type="file"
              ngf-select
              ng-model="form.file"
              name="file"
              ngf-pattern="'image/*'"
              accept="image/*"
              ngf-max-size="20MB"
              />
        </div>

        <div class="form-group">
          <div class="error" style="color:red" ng-model="error">{{error}}</div>
        </div>

        <div class="row">
          <div class="col-md-2" style="margin-top: 19px;">
            <input type="file" accept="video/*" file-model="myFile"/>
          </div>
          <div class="col-md-8" style="margin-left:29px;">
            <button ng-click="add == true ? uploadFile(form) : updateVideo()" class="btn btn-danger"   style="margin:10px;float:right ">Submit</button>
          </div>
        </div>

        <progress value="{{progressBar}}" max="100" ng-show="view">
        </progress>
        <div class="progress" ng-show="view" style="width:40%;">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progressBar}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progressBar}}%">
            {{progressBar}}% Complete (success)
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
